@font-face {
    font-family: jakarta;
    src: url(../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: preahvihear;
    src: url(../fonts/Preahvihear/Preahvihear-Regular.ttf);
}
html {
    scroll-behavior: smooth;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #11071F;
    max-width: 100%;
    overflow-x: hidden;
}
nav {
    position: relative;
    height: 80px;
    background-color: #190A2C;
}
nav img {
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 96%;
}
ul {
    margin-left: 40%;
    display: flex;
}
li{
    list-style: none;
    margin-top: 28px;
    margin-left: 10rem;
    font-size: 1.1rem;
}
a{
    font-family: jakarta;
    color: #ffffff;
    text-decoration: none;
}

header {
    position: relative;
}
b {
    color: #7127BA;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards;
}
 .présentation_intro h1 b, .présentation_intro h4 b {
    background-color: #11071f00;
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 0px 15px 0px 15px;
    display: inline-block;
    /* clip-path: ellipse(34% 39% at 50% 50%); */
}
i {
    color: #D93F41;
}
#bimoji {
    margin: 5% 25%;
    animation: fadeIn 0.5s ease-in-out;
}
.présentation_intro {
    margin-top: 5%;
    position: relative;
}
.présentation_intro h2 {
    position: absolute;
    top: 18%;
    left: 41%;
    color: #ffffff;
    font-family: preahvihear;
}
.présentation_intro h3 {
    opacity: 0;
    position: absolute;
    top: 32%;
    left: 42.5%;
    color: #ffffff;
    font-family: preahvihear;
    animation: fadeIn 1s ease-in-out 1s forwards;
}
.présentation_intro h1 {
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 43%;
    color: #ffffff;
    font-size: 2.5rem;
    font-family: preahvihear;
    animation: fadeIn 1s ease-in-out 1.5s forwards;
}
.présentation_intro h4 {
    position: absolute;
    top: 50%;
    left: 43%;
    color: #ffffff;
    font-size: 2.3rem;
    font-family: preahvihear;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 2s forwards;
}
.présentation_intro p {
    position: absolute;
    top: 62%;
    left: 43.2%;
    color: #ffffff;
    font-size: 0.6rem;
    font-family: preahvihear;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 2.5s forwards;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.présentation_description {
    margin-top: 2%;
    position: relative;
    height: 400px;
}
.présentation_description h2 {
    position: absolute;
    top: 10%;
    left: 31.5%;
    color: #ffffff;
    font-size: 2.3rem;
    font-family: preahvihear;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 3.5s forwards;
}
.description_school {
    position: absolute;
    top: 25%;
    left: 31.5%;
    color: #ffffff;
    font-size: 0.9rem;
    font-family: preahvihear;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 4s forwards;
}
.about_me {
    position: absolute;
    top: 51%;
    left: 30.8%;
    color: #ffffff;
    font-size: 0.9rem;
    font-family: preahvihear; 
}
.nav_skills, .nav_projects {
    position: relative;
}
.nav_skills h2, .nav_projects h2 {
    text-align: center;
    color: #ffffff;
    font-family: preahvihear;
}
#nav_row {
    position: absolute;
    z-index: 2;
    margin-top: 0.7%;
    margin-left: 48.5%;
    padding: 15px;
    height: 70px;
}
#nav_row:hover {
    animation: button 0.5s infinite;
}
@keyframes button {
    50% {
        margin-top: 1.5%;
    }
    100% {
        margin-top: 0.7%;
    }
}
.my_skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.my_skills h2 {
    margin-top: 10%;
    text-align: center;
    color: #ffffff;
    font-family: preahvihear;
}
.my_skills h3 {
    text-align: center;
    color: #ffffff;
    font-family: preahvihear;
}
#skills_shema {
    margin-top: 100px;
    margin-left: 16%;
    height: 1000px;
    width: 1300px;
    opacity: 0;
    transition: 1s;
}
footer {
    height: 300px;
}
footer h2 {
    margin-top: 5%;
    margin-left: 25%;
    color: #ffffff;
    font-family: preahvihear;
}
.linkedin, .github, .gmail {
    margin-top: 1%;
    margin-left: 25%;
}
footer a {
    margin-left: 1%;
    font-family: preahvihear; 
}
@media (max-width:1850px) {
    body {
        width: 100%;
    }
    .présentation_intro h1 {
        top: 40%;
        left: 43%;
    }
    .présentation_intro h2 {
        top: 18%;
        left: 42%;
    }
    .présentation_intro h4 {
        top: 55%;
        left: 43%;
    }
    .présentation_intro p {
        top: 72%;
        left: 43.2%;
    }
    .présentation_description {
        margin-top: 2%;
    }
}
@media (max-width:450px) {
    body {
        width: 100%;
    }
    nav {
        height: 40px;
        width: 100%;
    }
    li {
        margin-left: 15px;
        font-size: 0.5rem;
    }
    nav img {
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 60%;
        left: 94%;
    }
    #bimoji {
        height: 150px;
        margin-left: -2%;
    }
    .présentation_intro h1 {
        top: 23%;
        left: 37%;
        font-size: 0.7rem;

    }
    .présentation_intro h2 {
        top: -30%;
        left: 35%;
        font-size: 0.5rem;
    }
    .présentation_intro h3 {
        top: 20%;
        left: 40%;
        font-size: 0.5rem;
    }
    .présentation_intro h4 {
        top: 42%;
        left: 43%;
        font-size: 0.7rem;
    }
    .présentation_intro p {
        top: 60%;
        left: 40%;
        font-size: 0.4rem;
    }
    .présentation_description {
        margin-top: 2%;
        height: 200px;
    }
    .présentation_description h2 {
        font-size: 1.2rem;
        top: -30%;
        left: 20%;
    }
    .description_school {
        top: 16%;
        left: 18%;
        font-size: 0.5rem;
    }
    .about_me {
        width: 80%;
        top: 50%;
        left: 10%;
        font-size: 0.6rem;
    }
    .nav_skills h2 {
        margin-top: 80px;
        margin-left: 5%;
        font-size: 1rem;
    }
    .my_skills {
        height: 500px;
    }
    .my_skills h2 {
        margin-top: 50%;
        margin-left: 0;
        font-size: 0.6rem;
    }
    .my_skills h3 {
        margin-top: 20%;
        margin-left: 0%;
        font-size: 0.6rem;
    }
    #skills_shema {
        margin-top: 25px;
        margin-left: 0;
        height: 100%;
        width: 100%;
        margin-bottom: 28%;
    }
    .nav_projects h2 {
        margin-top: 40px;
        margin-left: 5%;
        font-size: 1rem;
    }
    #nav_row {
        margin-left: 45%;
        height: 50px;
    }
    footer {
        height: 150px;
    }
    footer h2 {
        margin-top: 5%;
        margin-left: 25%;
        font-size: 1rem;
        color: #ffffff;
        font-family: preahvihear;
    }
    .linkedin, .github, .gmail {
        margin-top: 1%;
        margin-left: 25%;
    }
    footer a {
        margin-left: 1%;
        font-size: 0.3rem;
        font-family: preahvihear; 
    }
    /* .linkedin, .github, .gmail {
        height: 10px;
        margin-top: 10%;
        margin-left: 25%;
    } */
    #linkedin, #github, #gmail {
        height: 15px;
    }
}